*{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(247, 247, 247) !important;
    overflow-x: hidden !important;
}
@media screen and (max-width: 325px) {
  body{
    overflow-x: hidden !important;
  }
} 
@media screen and (max-width: 365px) {
  body{
    overflow-x: hidden !important;
  }
} 
@media screen and (max-width: 380px) {
  body{
    overflow-x: hidden !important;
  }
} 
@media screen and (max-width: 415px) {
  body{
    overflow-x: hidden !important;
  }
} 